@font-face {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/inter-medium.woff2') format('woff2');
}

@font-face {
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/montserrat-regular.woff2') format('woff2');
}
