@use 'sass:map';
@use 'variables' as *;

// media query for various breakpoints
@mixin mediaQuery($breakpoint) {
    @if $breakpoint == s {
        @media all and (min-width: map.get($breakpoints, 's')) {
            @content;
        }
    } @else if $breakpoint == m {
        @media all and (min-width: map.get($breakpoints, 'm')) {
            @content;
        }
    } @else if $breakpoint == l {
        @media all and (min-width: map.get($breakpoints, 'l')) {
            @content;
        }
    } @else {
        @error "breakpoint '#{$breakpoint}' does not exist";
    }
}

// anchor styling for the content blocks where the links should be red
@mixin contentAnchorStyling {
    position: relative;
    display: inline-block;
    color: $color-brand-primary;

    &:before {
        content: '';
        position: absolute;
        top: 84%;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: $color-brand-primary;
        transform: scaleX(0);
        transition: transform $animation-duration-default ease-in-out !important;
    }

    &:hover::before {
        transform: scale(1);
    }
}
