// media breakpoints
$breakpoints: (
    's': 744px,
    'm': 1024px,
    'l': 1460px
) !default;

// typography - font family
$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

// typography - weights
$font-weight-primary-regular: 400;
$font-weight-primary-medium: 500;
$font-weight-secondary-bold: 700;

// typography - sizes
$font-size-heading-1: 2.25rem;
$font-size-heading-2: 1.5rem;
$font-size-heading-3: 1.25rem;
$font-size-heading-4: 1.15rem;

// colors
$color-brand-primary: #cc0022;
$color-font-primary: #334155;
$color-font-dark: #020617;

// borders
$color-border-primary: #e5e7eb;
$color-border-dark: #6b7280;

// animations and transitions
$animation-duration-default: 0.16s;
