@import 'reset';
@import 'variables';
@import 'mixins';

//
// html elements
//

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;

    // fonts and families
    font-family: $font-family-primary;
    font-weight: $font-weight-primary-regular;

    // colors and backgrounds
    background-color: #111827;
    background-image: linear-gradient(to bottom, #000000, #0f1623);
    color: #94a3b8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-secondary;
    font-weight: $font-weight-secondary-bold;
    color: #fff;
}

h1 {
    font-size: $font-size-heading-1;
}

h2 {
    font-size: $font-size-heading-2;
}

h3 {
    font-size: $font-size-heading-3;
}

h4 {
    font-size: $font-size-heading-4;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.12s ease-in-out;

    &:hover,
    &:focus {
        color: #fff;
    }
}

//
// shared classes
//

.container {
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 680px;
}
