//
// semantic element
//

html {
    font-size: 16px;
    height: 100vh;
}

body {
    font-family: $font-family-primary;
    font-weight: $font-weight-primary-regular;

    // light theme
    &.light-theme {
        background-color: #fff;
        background-image: linear-gradient(to bottom, #fff, #679dff);
    }

    // dark theme
    &.dark-theme {
        background-color: #111827;
        background-image: linear-gradient(to bottom, #000, #111827);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-primary;
    font-weight: $font-weight-primary-medium;

    // light theme
    &.light-theme {
        color: #000;
    }

    // dark theme
    &.dark-theme {
        color: #fff;
    }
}

h1 {
    font-size: $font-size-heading-1;
}

h2 {
    font-size: $font-size-heading-2;
}

h3 {
    font-size: $font-size-heading-3;
}

h4 {
    font-size: $font-size-heading-4;
}
